@import '../../assets/scss/colors.scss';
@import '../../assets/scss/animation.scss';s

.grid {
    height: auto;
}

.row {
    min-height: calc(100vh - 58px);
    align-items: center;
}

.col {
    display: flex;
    align-items: center;
}

.firstCol {
    color: white;

    .bigIntro {
        font-size: 48px;
        font-weight: 600;
        line-height: 1.3;
        padding-bottom: 24px;
        
        i {
            color: $blue;
            font-style: normal;
        }
    }

    .flexIntro {
        font-size: 28px;
        font-weight: 400;
        padding-bottom: 24px;

        span {
            font-weight: 600;
        }
    }

    .detail {
        font-weight: 400;
        font-size: 20px;
        color: $light-silver;
        line-height: 1.3;
    }

    .buttonContainer {
        padding-top: 40px;
        display: flex;
    }
}

.secondCol {
    position: relative;
    width: 400px;
    height: 400px;

    img {
        position: absolute;
        top: calc(50% - 200px);
        left: calc(50% - 200px);
        border-radius: 50%;
        width: 400px;
    }
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s linear;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility 1s, opacity 1s linear;
}

.green {
    color: $green;
    font-style: normal;
}

.orange {
    color: $orange;
    font-style: normal;
}

.yellow {
    color:$yellow;
    font-style: normal;
}

.blue {
    color:$blue;
    font-style: normal;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .firstCol {
        padding-left: 52px;
    }
}

@media (max-width: 739px) {
    .firstCol {
        padding-left: 52px;

        .flexIntro {
            font-size: 24px;
        }
    }
}
