@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.h-min-fit-screen {
  min-height: calc(100vh - 64px);
}

.h-fit-screen {
  height: calc(100vh - 64px);
}

.flip-card {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e60022;
}

.dotted-li::before {
  content: '.';
  color: #898989;
  position: absolute;
  left: 0;
  top: -4px;
  font-weight: 700;
  font-size: large;
}

.dotted-li {
  padding-left: 12px;
  position: relative;
}