@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');

* {
  box-sizing: border-box;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-color: #f1f1f1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.h-min-fit-screen {
  min-height: calc(100vh - 64px);
}

.h-fit-screen {
  height: calc(100vh - 64px);
}

.flip-card {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e60022;
}

.dotted-li::before {
  content: '.';
  color: #898989;
  position: absolute;
  left: 0;
  top: -4px;
  font-weight: 700;
  font-size: large;
}

.dotted-li {
  padding-left: 12px;
  position: relative;
}