@import '../../assets/scss/colors.scss';

.container {
    height: 150px;
    width: 100%;
    background-color: $blue-silver;
    border-style: solid;
    border-color: $silver;
    border-width: 2px;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 16px;
}

.row {
    align-items: center;
    height: 100%;

    img {
        height: 100%
    }
}

.detailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .position  {
        font-weight: 600;
        font-size: 24px;
        color: $blue;
        padding-bottom: 12px;
    }

    .organization {
        font-weight: 500;
        font-size: 16px;
        color: white;
        padding-bottom: 12px;
    }

    .period {
        font-weight: 600;
        font-size: 20px;
        color: $orange;
    }
}

.green {
    color: $green !important;
}

@media (max-width: 1023px) {
    .container {
        padding-left: 20px;
        height: 180px;
    }
}