@import '../../assets/scss/colors.scss';

.container {
    border: 1px solid $light-silver;
    border-radius: 4px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        height: 48px;
        width: 48px;
    }

    .name {
        color: aliceblue;
        padding-top: 12px;
        font-weight: 500;
        font-size: 18px;
    }
}