@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import './assets/scss/colors.scss';

body {
  margin: 0;
  font-family: Rubik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $super-dark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.pageTitle {
  font-size: 28px;
  color: white;
  font-weight: 600;
  display: flex;

  span {
      font-size: 28px;
      padding-right: 16px;
      display: flex;
      align-items: center;
  }
}

.height-100pc {
  height: 100%;
}
