@import '../../assets/scss/colors.scss';
@import '../../assets/scss/animation.scss';

.grid {
    min-height: calc(100vh - 58px - 95px - 45.5px);
}

.quote {
    color: $light-silver;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    text-align-last: center;
    padding: 0 4px 24px 4px;
}
